@model pos.Models.Store.DetailStoreModel

@{
	ViewData["Title"] = "POS | Detail Store";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4">
			<div class="card card-transparent card-block card-stretch card-height border-none">
				<div class="card-body p-0 mt-lg-2 mt-0">
					<h3 class="mb-3 text-capitalize">Hi {{user.fullName}}, {{greeting}}</h3>
					<p class="mb-0 mr-4">
						Your dashboard gives you views of key performance or business process.
					</p>
					<a asp-action="Index" class="btn p-0">Back to list.</a>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="card card-block card-stretch card-height">
						<div class="card-body">
							<div class="d-flex align-items-center mb-4 card-total-sale">
								<div>
									<p class="mb-2">Total Sales</p>
									<h4>@Model.Orders.Count()</h4>
								</div>
							</div>
							<div class="iq-progress-bar mt-2">
								<span class="bg-info iq-progress progress-1" data-percent="50"> </span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="card card-block card-stretch card-height">
						<div class="card-body">
							<div class="d-flex align-items-center mb-4 card-total-sale">
								<div>
									<p class="mb-2">Total Revenue</p>
									<h4>@Model.TotalRevenuePerStore.ToString("N0")đ</h4>
								</div>
							</div>
							<div class="iq-progress-bar mt-2">
								<span class="bg-danger iq-progress progress-1" data-percent="70"> </span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="card card-block card-stretch card-height">
						<div class="card-body">
							<div class="d-flex align-items-center mb-4 card-total-sale">
								<div>
									<p class="mb-2">Product Sold</p>
									<h4>@Model.TotalProductsSold</h4>
								</div>
							</div>
							<div class="iq-progress-bar mt-2">
								<span class="bg-success iq-progress progress-1" data-percent="75"> </span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	@* List order *@
	<div class="row">

		<div class="col-lg-12">
			<div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
				<div class="col-md-2 col-md-offset-2 demo">
					<input type="text" value="12/11/2023 - 12/17/2023" id="demo" class="form-control text-center btn" />
				</div>
				<div>
					<h4 class="mb-3">List Order</h4>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="table-responsive rounded">
					<table class="data-table table mb-0 tbl-server-info">
						<thead class="bg-white text-uppercase">
							<tr class="ligth ligth-data">
								<th>Invoice Id</th>
								<th>Date</th>
								<th>Customer</th>
								<th>Total</th>
								<th>Customer Money</th>
								<th>Return Back</th>
								<th>Biller</th>
								<th>Detail</th>
							</tr>
						</thead>
						<tbody id="data-table" class="ligth-body">
							@foreach (var order in Model.Orders)
							{
								<tr>
									<td class="text text-truncate"
										style="max-width:40px"
										data-toggle="tooltip"
										data-placement="top"
										data-original-title="@order.OrderId">
										@order.OrderId
									</td>
									<td>@order.DateCreation.ToString("dd-MM-yyyy")</td>
									<td>@order.Customer.Name</td>
									<td>@order.Total.ToString("N0") đ</td>
									<td>@order.GivenMoney.ToString("N0")đ</td>
									<td>@order.User.NormalizedUserName</td>
									<td>@order.User.NormalizedUserName</td>
									<td class="text-center">
										<a class="btn btn-sm badge badge-info mr-2"
										   data-toggle="tooltip"
										   data-placement="top"
										   title=""
										   data-original-title="View"
										   asp-action="Details" asp-controller="Orders" asp-route-id="@order.OrderId">
											<i class="ri-eye-line mr-0"></i>
										</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
