@model pos.Models.Store.DetailStoreModel

@{
	ViewData["Title"] = "POS | Detail Store";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4">
			<div class="card card-transparent card-block card-stretch card-height border-none">
				<div class="card-body p-0 mt-lg-4 mt-0">
					<p class="mb-0 mr-4">
						Your dashboard gives you views of key performance or business process.
					</p>
					<input id="storeId" value="@Model.RetailStore.Id" hidden />
					<div id="rangedatepicker">
						<label for="datetime" class="text-dark mr-2">Time:</label>
						<input id="datetime" name="dates" class="d-inline w-75 form-control" />
					</div>
					<a asp-action="Index" class="btn p-0">Back to list.</a>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="card card-block card-stretch card-height">
						<div class="card-body">
							<div class="d-flex align-items-center mb-4 card-total-sale">
								<div>
									<p class="mb-2">Total Sales</p>
									<h4 id="orderCount">@Model.Orders.Count()</h4>
								</div>
							</div>
							<div class="iq-progress-bar mt-2">
								<span class="bg-info iq-progress progress-1" data-percent="50"> </span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="card card-block card-stretch card-height">
						<div class="card-body">
							<div class="d-flex align-items-center mb-4 card-total-sale">
								<div>
									<p class="mb-2">Total Revenue</p>
									<h4 id="revenue">@Model.TotalRevenuePerStore.ToString("N0")đ</h4>
								</div>
							</div>
							<div class="iq-progress-bar mt-2">
								<span class="bg-danger iq-progress progress-1" data-percent="70"> </span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="card card-block card-stretch card-height">
						<div class="card-body">
							<div class="d-flex align-items-center mb-4 card-total-sale">
								<div>
									<p class="mb-2">Product Sold</p>
									<h4 id="sold">@Model.TotalProductsSold</h4>
								</div>
							</div>
							<div class="iq-progress-bar mt-2">
								<span class="bg-success iq-progress progress-1" data-percent="75"> </span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	@* List order *@
	<div class="row">

		<div class="col-lg-12">
			<div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
				<div>
					<h4 class="mb-3">List Order</h4>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="table-responsive rounded">
					<table class="data-table table mb-0 tbl-server-info">
						<thead class="bg-white text-uppercase">
							<tr class="ligth ligth-data">
								<th>Invoice Id</th>
								<th>Date</th>
								<th>Customer</th>
								<th>Total</th>
								<th>Customer Money</th>
								<th>Return Back</th>
								<th>Biller</th>
								<th>Detail</th>
							</tr>
						</thead>
						<tbody id="data-table" class="ligth-body">
							@foreach (var order in Model.Orders)
							{
								<tr>
									<td class="text text-truncate"
										style="max-width:40px"
										data-toggle="tooltip"
										data-placement="top"
										data-original-title="@order.OrderId">
										@order.OrderId
									</td>
									<td>@order.DateCreation.ToString("dd-MM-yyyy")</td>
									<td>@order.Customer.Name</td>
									<td>@order.Total.ToString("N0") đ</td>
									<td>@order.GivenMoney.ToString("N0")đ</td>
									<td>@((order.GivenMoney - order.Total).ToString("N0"))đ</td>
									<td>@order.User.FullName</td>
									<td class="text-center">
										<a class="btn btn-sm badge badge-info mr-2"
										   data-toggle="tooltip"
										   data-placement="top"
										   title=""
										   data-original-title="View"
										   asp-action="Details" asp-controller="Orders" asp-route-id="@order.OrderId">
											<i class="ri-eye-line mr-0"></i>
										</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script>
		const convertVND = (x) => x.toLocaleString("it-IT", { style: "currency", currency: "VND" }).replace("VND", "đ");

		$('input[name="dates"]').daterangepicker({
			alwaysShowCalendars: true,
			locale: {
				format: 'YYYY-MM-DD',
			},
			ranges: {
				'Today': [moment(), moment()],
				'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
				'Last 7 Days': [moment().subtract(6, 'days'), moment()],
				'Last 30 Days': [moment().subtract(29, 'days'), moment()],
				'This Month': [moment().startOf('month'), moment().endOf('month')],
				'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
			},
			startDate: moment().startOf('month'),
			endDate: moment().endOf('month'),
		}, getReport);

		function getReport(start, end) {
			const dataTable = document.querySelector("#data-table");
			const startTimestamp = moment(start).format("YYYYMMDDHHmmss");;
			const endTimestamp = moment(end).format("YYYYMMDDHHmmss");;

			const storeId = document.querySelector("#storeId").value

			fetch(`/Report?store=${storeId}&start=${startTimestamp}&end=${endTimestamp}`).then(async (res) => {
				const data = await res.json();

				document.querySelector("#orderCount").text = data.data.Orders.length;
				document.querySelector("#revenue").text = data.data.totalRevenuePerStore;
				document.querySelector("#sold").text = data.data.totalProductsSold;

				
				if (data.data.Orders) {
					let html = "";
					data.data.Orders.map(item => {
						html += `<tr>
							<td class="text text-truncate"
								style="max-width:40px"
								data-toggle="tooltip"
								data-placement="top"
										data-original-title="${item.OrderId}">
										${item.OrderId}
							</td>
							<td>${item.DateCreation.toString("dd-MM-yyyy")}</td>
							<td>${item.Customer.Name}</td>
							<td>${convertVND(item.Total)}</td>
							<td>${convertVND(item.GivenMoney)}</td>
							<td>${(item.GivenMoney - item.Total)}</td>
							<td>${data.topSellingUser.name}</td>
							<td class="text-center">
								<a class="btn btn-sm badge badge-info mr-2"
								   data-toggle="tooltip"
								   data-placement="top"
								   title=""
								   data-original-title="View"
								   href="/Orders/Details/${item.OrderId}">
								<i class="ri-eye-line mr-0"></i>
								</a>
							</td>
						</tr>`
					})

					dataTable.innerHTML = html;
				}
			})
		}

	</script>
}