@model IEnumerable<pos.Entities.RetailStore>

@{
	ViewData["Title"] = "POS | Stores";
}

<div class="row justify-content-end py-1">
	<a asp-action="Create" class="btn btn-primary mr-5">Create New</a>
</div>
<div class="row row-cols-1 row-cols-md-3">
	@foreach (var item in Model)
	{
		<div class="col-lg-3 col-md-4 mb-6">
			<div class="card card-cascade">
				<div class="view view-cascade overlay">
					<a asp-action="Details" asp-route-id="@item.Id">
						<img class="card-img-top" src="~/images/default/store/shop.jpg">
					</a>
					@* <a>
						<div class="mask rgba-white-slight waves-effect waves-light"></div>
					</a> *@
				</div>
				<div class="card-body card-body-cascade text-center">
					<h4 class="card-title"><strong>@Html.DisplayFor(modelItem => item.StoreName)</strong></h4>
					<p class="card-text text-truncate">
						@Html.DisplayFor(modelItem => item.Location)
					</p>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</div>
			</div>
		</div>
	}
</div>