@model pos.Entities.Order

@{
    ViewData["Title"] = "Invoice Detail";
}

<div class="container-fluid">
    <div class="row">
        <a asp-action="Index" class="py-1 mx-5 px-2">Back</a>
    </div>
    <div class="row justify-content-center">
        <div id="invoice-pdf" class="col-lg-6 overflow-auto" style="height: calc(100vh - 120px);">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-xs-center"><strong>Invoice</strong></h3>
                    <h5 class="text-xs-center">Invoice ID: @Model.OrderId</h5>
                    <h6 class="text-xs-center">Creation date: @Model.DateCreation.ToString("dd-mm-yyyy")</h6>
                    <hr />
                    <div class="row flex-column px-3">
                        <h6 class="text-xs-center">Customer Name: @Model.Customer.Name</h6>
                        <h6 class="text-xs-center">Customer Phone: @Model.Customer.PhoneNumber</h6>
                        <h6 class="text-xs-center">Customer Address: @Model.Customer.Address</h6>
                    </div>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <td><strong>Item Name</strong></td>
                                    <td class="text-xs-center"><strong>Item Price</strong></td>
                                    <td class="text-xs-center"><strong>Item Quantity</strong></td>
                                    <td class="text-xs-right"><strong>Total</strong></td>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var detail in Model.OrderDetails)
                                {
                                    <tr>
                                        <td class="text-xs-center">@detail.Product.Name</td>
                                        <td class="text-xs-center">@detail.Product.Price.ToString("N0")đ</td>
                                        <td class="text-xs-center">x@(detail.Quantity)</td>
                                        <td class="text-xs-center"> @detail.Subtotal.ToString("N0")đ</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="text-xs-center"><strong>Total</strong></td>
                                    <td class="text-xs-right" id="table-total">@Model.Total.ToString("N0")đ</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>