@model pos.Models.Product.ProductModel;

<div class="container-fluid add-form-list">
	<div class="row">
		<div class="col-lg-12 mb-4">
			<a href="/products">Back to list</a>
		</div>
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header d-flex justify-content-between">
					<div class="header-title">
						<div class="header-title">
							<h4 class="card-title">Edit Product</h4>
						</div>
					</div>
				</div>
				<div class="card-body">
					<form data-toggle="validator" method="post" enctype="multipart/form-data">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Name *</label>
									<input name="Name"
										   type="text"
										   value="@Model.Product.Name"
										   class="form-control"
										   placeholder="Enter Name"
										   data-errors="Please Enter Name."
										   required />
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Barcode *</label>
									<input name="Barcode"
										   type="text"
										   value="@Model.Product.Barcode"
										   class="form-control"
										   placeholder="Enter Code"
										   data-errors="Please Enter Code."
										   required />
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Cost *</label>
									<input name="Cost"
										   type="text"
										   value="@Model.Product.Cost.ToString("F0")"
										   class="form-control"
										   placeholder="Enter Cost"
										   data-errors="Please Enter Cost."
										   required />
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Price *</label>
									<input name="Price"
										   type="text"
										   value="@Model.Product.Price.ToString("F0")"
										   class="form-control"
										   placeholder="Enter Price"
										   data-errors="Please Enter Price."
										   required />
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Collections *</label>
									<select name="categoryId"
											class="selectpicker form-control"
											data-style="py-0" required>
										<option value="">Select a collection</option>
										@foreach (var ca in Model.Categories)
										{
											@if (Model.Product.CategoryId == ca.Id)
											{
												<option class="text-uppercase" selected value="@ca.Id">@ca.Name</option>
											}
											else
											{
												<option class="text-uppercase" value="@ca.Id">@ca.Name</option>
											}
										}
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Inventory *</label>
									<input name="retailId"
										   type="text"
										   value="@ViewBag.Store.StoreName"
										   class="form-control"
										   disabled/>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label>Quantity *</label>
									<input name="Quantity"
										   type="text"
										   value="@Model.Product.Quantity"
										   class="form-control"
										   placeholder="Enter Quantity"
										   required />
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label>Image</label>
									<div class="input-group mb-4">
										<div class="input-group-prepend">
											<span class="input-group-text">Upload</span>
										</div>
										<div class="custom-file">
											<input type="file" class="custom-file-input" id="inputGroupFile01" name="image" />
											<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary mr-2">Update</button>
						@* <button type="reset" class="btn btn-danger">Reset</button> *@
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

