@model IEnumerable<pos.Entities.Customer>

@{
	ViewData["Title"] = "Index";
}

<div class="row">
	<div class="col-lg-12">
		<div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
			<div>
				<h4 class="mb-3">Customer List</h4>
				<p class="mb-0">
					A customer dashboard lets you easily gather and visualize customer data from optimizing
					<br />
					the customer experience, ensuring customer retention.
				</p>
			</div>
			<a asp-action="Create" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Create New Customer</a>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="table-responsive rounded mb-3">
			<table class="data-table table mb-0 tbl-server-info">
				<thead class="bg-white text-uppercase">
					<tr class="ligth ligth-data">
						<th>
							<div class="checkbox d-inline-block">
								<input type="checkbox" class="checkbox-input" id="checkbox1" />
								<label for="checkbox1" class="mb-0"></label>
							</div>
						</th>
						<th>Name</th>
						<th>Phone No.</th>
						<th>Address</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody class="ligth-body">

					@foreach (var item in Model)
					{
						<tr>

							<td>
								<div class="checkbox d-inline-block">
									<input type="checkbox" class="checkbox-input" id="checkbox2" />
									<label for="checkbox2" class="mb-0"></label>
								</div>
							</td>
							<td class="text-uppercase">
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.PhoneNumber)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Address)
							</td>
							<td>
								<a asp-action="Details" asp-route-id="@item.Id"
								   class="btn btn-sm btn-danger badge mr-2"
								   data-toggle="tooltip"
								   data-placement="top"
								   data-original-title="View orders">
									<i class="ri-eye-line mr-0"></i>
								</a>
								<a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip"
								   class="btn btn-sm badge bg-success mr-2"
								   data-placement="top"
								   title=""
								   data-original-title="Edit">
									<i class="ri-pencil-line mr-0"></i>
								</a>
								<a asp-action="Delete" asp-route-id="@item.Id" 
								   class="btn btn-sm btn-danger badge mr-2"
								   onclick="handleDelete(this)"
								   data-name="@item.Name"
								   data-id="@item.Id"
								   data-toggle="tooltip"
								   data-placement="top"
								   data-original-title="Delete">
									<i class="ri-delete-bin-line mr-0"></i>
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
